#######################################################################
#######################################################################
## {{pillar['headers']['msg']}}
#######################################################################
#######################################################################

{% for item in pillar.get('domains, {}) %}
search {{ item }}
{% endfor %}
options rotate
{% for item in pillar.get('dns', {}) %}
nameserver {{ item }}
{% endfor %}
