#######################################################################
#######################################################################
## 
## {{pillar['headers']['msg']}}
## 
#######################################################################
#######################################################################

search {% for item in pillar.get('domains', {}) %} {{ item }} {% endfor %}
options rotate
{% for item in pillar.get('dns', {}) %} nameserver {{ item }}
{% endfor %}
